.blog-content {
    min-height: calc(100vh - 54px);
    ul { 
        display: block;
        list-style-type: disc;
        margin-top: 1em;
        margin-bottom: 1 em;
        margin-left: 0;
        margin-right: 0;
        padding-left: 40px;
     }
     ol { 
        display: block;
        list-style-type: decimal;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 0;
        padding-left: 40px;
     }
     ul ul, ol ul { 
        list-style-type: circle; 
        list-style-position: inside; 
        margin-left: 15px; 
     }
     ol ol, ul ol { 
        list-style-type: lower-latin; 
        list-style-position: inside; 
        margin-left: 15px; 
     }
}