.about-page {
    background-color: #171717;
    color: #bbb;
 ul li {
     box-sizing: border-box;
     margin-bottom: 1.5rem;
 }

 .about-social-icons {
     justify-content: center;
     margin-top: 1rem;
     .social-icon {
         padding: 0;
 }
}
}