.portfolio-page {
    background-color: #171717;
    color: #bbb;
    min-height: calc(100vh - 106px);

    .portfolio-item {
        background-color: #4a4a4a;
        border-radius: 16px;
        border: 2px solid #333;
        padding: 1.5rem;
        display: grid;
        grid-template-rows: 300px 1fr 0.3fr;
        margin: 1rem;

        &:hover {
            border-color: #5d5d5d;
        }

        a.in-link {
            color:#32ccdc;
            &:hover {
                color: #3273dc;
            }
        }

        a.image-link {
            display: flex; // make us of Flexbox
            align-items: center; // does vertically center the desired content
            justify-content: center; // horizontally centers single line items
            text-align: center; // optional, but helps horizontally center text that breaks into multiple lines
            height: 300px;
            &:hover {
                opacity: 0.7;
            }
        }
        a.button:hover {
            opacity: 0.7;
        }
        img {
            max-height: 100%;
        }
        .text-wrapper {
            margin-top: 0.75rem;

        }
    }
}

@media (max-width: 992px) {
    .portfolio-page {
        .portfolio-item {
            margin: 2rem;
            padding: 3rem;
        }
    }
}

@media (max-width: 576px) {
    .portfolio-page {
        .portfolio-item {
            margin: 1rem;
        }
    }
}

@media screen and (orientation:landscape)
and (max-width: 991px) {
    .portfolio-page {
        .portfolio-items {
           display: block;
        }
    }
}