$header-font: 'Roboto', sans-serif;
$body-font: 'Open Sans', sans-serif;

main .home-background {
    background-image: url("https://source.unsplash.com/collection/827743");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: calc(100vh - 64px);
    text-align: center;
    display: table;

    .hero-text-wrapper {
        display: table-cell;
        vertical-align: middle;
        p {
            color: white;
            font-size: 3rem;
            font-family: $body-font;
            text-shadow: 2px 2px #000000;
        }
    }
}

h1.hero-text {
    color: white;
    font-family: $header-font;
    font-weight: bold;
    font-size: 8rem;
    text-shadow: 2px 2px #000000;
    margin-top: 0;
}

