$header-font: 'Roboto', sans-serif;
$body-font: 'Open Sans', sans-serif;
$primary-color: #bbb;
$emphasis-color: #fff;

@import "./header.scss";
@import "./footer.scss";
@import "./modal.scss";
@import "~bulma/bulma.sass";

body {
  font: 100% $body-font;
  font-size: 16px;
  font-size: 1rem;
  color: $primary-color;
  margin: 0;
  background-color: #171717;  
  position: relative;
}

.body-wrapper {
  margin-top: 3.25rem;

}

h1, h2, h3, h4, h5, h6 {
  font: 100% $header-font;
  margin-bottom: 0.625rem;
  color: #f1f1f1;
}

h1, h3, h5 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.125rem;
}
p {
  line-height: 1.8;
  margin: 0 0 0.75rem;
}

strong {
  color: $emphasis-color;
}

@media (max-width:576px) {

}

